body {
  background-color: rgb(50,150,200);
  font-family: "Arial";
}

.weathertext{
  text-align:center;
}

#temperature{
  display:inline;
}

.quotebox{
  width:40%;
  position: relative;
  text-align:center;
  left: 30%;
  height: 30%;
  border: 3px;
  border-style: solid;
  border-color: black;
  border-radius:35px;
  background-color: rgb(256,256,256);
}

